/* Global */
.main__color {
  color: var(--main-color);
}
.main__icon {
  border: 1px solid white;
}
.main__icon:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
.main-hover:hover {
  color: var(--main-color) !important;
}
.wa-icon {
  z-index: 1000;
  background-color: #25d366;
}
.main__btn {
  color: white;
  background-color: var(--main-color);
}
.main__btn:hover {
  background-color: var(--secound-color);
}
.main__heading::after {
  background-color: var(--main-color);
}
/* Start Home Page */
/* Start navigation  */
.upperbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.active {
  color: var(--main-color) !important;
}
@media (max-width: 992px) {
  .navbar-nav {
    background-color: transparent;
  }
}
/* .navbar-collapse {
  background-color: var(--secound-color);
} */

/* Start info section  */
.info__box {
  color: white;
  background-color: var(--main-color);
}

/* Start services section  */
.services {
  background-color: #f7f7f7;
}
/* why-us */
.why-us {
  background-color: #f7f7f7;
}
.text__color {
  color: #777;
}

/* testimonials */
.testimonials__card {
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
}
.owl-carousel-testimonials .owl-nav .owl-next span,
.owl-carousel-testimonials .owl-nav .owl-prev span {
  border: 1px solid #b7b7b7;
  color: #333;
}
.owl-carousel-testimonials .owl-nav .owl-next:hover,
.owl-carousel-testimonials .owl-nav .owl-prev:hover {
  background-color: transparent;
}
.testimonials__card {
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
}

/* Start join us */
.join-us {
  background-color: var(--main-color);
}
.join-us .main__btn {
  border: 1px solid white;
}
.join-us .main__btn:hover {
  background-color: #2594c1;
}

/* footer  */
footer,
.copyright {
  background-color: #111;
}

/* service-details  */
.service-details {
  background-color: #f7f7f7;
}