/* Start footer */
/* footer {
    background-color: var(--secound-color);
  }
  .mail__input {
    border: 1px solid var(--muted-color);
  }
  .mail__input button i {
    height: 100%;
    width: 100%;
    padding: 1rem;
    transition: color var(--main-transition) ease-in-out;
  }
  .mail__input button i:hover {
    background-color: var(--main-color);
    color: var(--secound-color);
  }
  .mail__input input {
    padding-block: 1rem;
    padding-inline-start: 1rem;
  }
  footer .mail__input input:focus-visible {
    outline: 0;
  }
   */