.footer__navs .main__heading {
  margin-bottom: 2rem;
}
.footer__navs li {
  margin-bottom: 1rem;
}
.footer__navs li a {
  text-transform: capitalize;
}
.footer__navs li a::before {
  content: "\f105";
  font: var(--fa-font-solid);
  font-size: 0.75rem;
  margin-inline-end: 0.5rem;
}
.footer__navs li a:hover {
  color: white;
  text-decoration: underline;
}
.copyright {
  border-top: 1px solid ;
}