.main__heading {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
}
.main__heading::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  bottom: -10%;
  left: 0;
}
h2.main__heading,
h3.main__heading {
  padding-bottom: 1rem;
}
