.services__card {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem;
  margin-inline: auto;
  border-radius: 10px;
}
.services__btn {
  background-color: transparent;
  border: none;
}
.services__btn a {
  color: white;
  text-transform: capitalize;
}
.services__btn:hover a {
  text-decoration: underline;
}
.service-1 {
  background-image: linear-gradient(rgb(26, 32, 46, 0.6), rgb(26, 32, 46, 0.6)),
  url(../../img/services/services-1.webp);
}
.service-2 {
  background-image: linear-gradient(rgb(26, 32, 46, 0.6), rgb(26, 32, 46, 0.6)),
  url(../../img/services/services-2.webp);
}
.service-3 {
  background-image: linear-gradient(rgb(26, 32, 46, 0.6), rgb(26, 32, 46, 0.6)),
  url(../../img/services/services-3.webp);
}
.service-4 {
  background-image: linear-gradient(rgb(26, 32, 46, 0.6), rgb(26, 32, 46, 0.6)),
  url(../../img/services/services-4.webp);
}
.service-5 {
  background-image: linear-gradient(rgb(26, 32, 46, 0.6), rgb(26, 32, 46, 0.6)),
  url(../../img/services/services-5.webp);
}