.why-us {
  position: relative;
}
.why-us__image {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../img/why-choose-us/why-bg.jpg);
  background-size: cover;
  background-position: center center;
}
.why-us__content {
  padding-block: 5rem;
  margin-inline-start: 50%;
  padding-inline-start: 2rem;
}
.why-us__content ul li {
  margin-bottom: 1rem;
}
.why-us__content ul li::before {
  content: "\f00c ";
  font: var(--fa-font-solid);
  color: var(--main-color);
  margin-inline-end: 0.5rem;
}

@media (max-width: 767px) {
  .why-us__image {
    position: inherit;
    width: 100%;
    height: auto;
    min-height: 250px;
  }
  .why-us__content {
    padding-block: 2rem;
    margin-inline-start: 0;
    padding-inline-start: 0;
  }
}
